*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    font-family: sans-serif;
}

.intro {
    height: 100vh;
    overflow-y: hidden;

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;      
    }

    h1 {
        position: absolute;
        text-align: center;
        color: white;
        font-size: 70px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        font-size: 80px;
    }

    p {
        font-size: 30px;
    }

    &.unicorn{
        height: 100vh;
        background-color: black;
        color: white;

        img {
            height: 45vh;
            width: auto;
        }
    }
}